<h2>Show user</h2>

<ul>

  <li>
    <strong>Id:</strong>
    <%= @user.id %>
  </li>

  <li>
    <strong>Id str:</strong>
    <%= @user.id_str %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Screen name:</strong>
    <%= @user.screen_name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

</ul>

<%= link "Edit", to: user_path(@conn, :edit, @user) %>
<%= link "Back", to: user_path(@conn, :index) %>
